<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.leafter">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".persistence.database.Instance"
        android:allowBackup="true"
        android:icon="@mipmap/ic_leafter"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_leafter_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leafter">
        <activity
            android:name=".activities.Splash"
            android:label="Leafter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Book_List_Activity" />
        <activity android:name=".activities.Book_Info_Activity" />
        <activity android:name=".activities.Music_Player_Activity" />
        <activity
            android:name=".activities.Reader_Activity"
            android:parentActivityName=".activities.Book_Info_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Fetch_Book_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.Book_List_Activity" />
        <service android:name="com.android.leafter.Service.MusicService" />
    </application>

</manifest>